<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>BOOKS</h1>

    <ul id="liste">
        <li>%books%</li>
    </ul>
    <form action="" id="book-form">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <input type="submit" value="sauvegarder">
    </form>
    <script>
        document.getElementById('book-form').addEventListener('submit', function(e){
            e.preventDefault();
            let form = new FormData(document.getElementById('book-form'))
            let object = {}
            form.forEach((value,key)=>{
                object[key]=value;
            })
            var json = JSON.stringify(object);
            fetch('api/books',{
                headers:{
                    'Accept':'application/json',
                    'Content-type':'application/json'
                },
                method:"POST",
                body:json
            }).then(response =>{
                response.json().then(data =>{
                    let listeStr = data.reduce((prev,current) =>{
                    return `${prev}\n <li><b>Titre</b>: ${current.title} ==> <b>Auteur</b>: ${current.author}</li>`
                }, '')
                document.getElementById('liste').innerHTML=listeStr
                })
            }).catch(e=>{
                console.log(e)
            })
        })

        fetch('/api/books',)
            .then(response =>{
            response.json().then(data =>{
                let listeStr = data.reduce((prev,current) =>{
                    return `${prev}\n <li><b>Titre</b> :${current.title} ==> <b>Autheur</b>: ${current.author}</li>`
                }, '')
                document.getElementById('liste').innerHTML=listeStr
            })
        }).catch(e =>{
            console.log(e)
        })
    </script>
</body>
</html>